Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
build/
test-driver
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/kv-config.h.in
src/kv-config.h.in~

# Donald Kruse's additions
*.so
*.o
*~
pmpi/lib
pmpi/bin
pmpi/input.txt
pmpi/serveraddr.txt
\.#*
\#*\#
lwcore*